<div class="container">

<div class="row">









<div class="col">
<div class="card mb-4" style="width: 17rem; height: 12rem;">
  <div class="card-body">
  <h5 class="card-title"><%= User.find_by(id: @user.id).name  %>  </h5>
  <h6 class="card-subtitle mb-2 text-muted"><%= User.find_by(id: @user.id).email  %></h6>

  <h8 class="card-subtitle mb-2 text-muted">Description :<%= User.find_by(id: @user.id).description %></h8>
 
 <div class="btn-group">
 <a href="<%=root_path%>" class="btn btn-light"> Return Home</a>

 </a>


      </div>
   
     
      

  </div>
 </div>
</div>

</div>
</div>
</div>

</div>
